@import "tailwindcss";

@theme {
 
  --color-primary: #14b8a6;
  --color-primary-dark: #102a2c;
  --color-primary-soft: #f0fdfa;

  --color-primary-text: #17201d;
  --color-secondary-text: #64706c;

  --color-background: #f8faf9;
  --color-outline-color: #e5eae8;

  --font-primary: var(--font-primary);

}

@keyframes loading-wave {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  20% {
    transform: translateY(-10px);
    opacity: 0.3;
  }

  40% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme {
  --animate-loading-wave: loading-wave 1s ease-in-out infinite;
}